.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* padding-bottom: 60vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/shopgirl.png')
     
  }
  .container .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .text > p {
      background: linear-gradient( to right,  rgb(253 230 138) 50%, black 50% );
      background-size: 200% 100%;
      background-position-x: 100%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      padding-left: 3vw;
      font-size: 8rem;
      margin-bottom: -80px;
      font-weight: bolder;
      transition: .05 background linear;
  }