.small-placeholder::placeholder {
    font-size: 0.7rem; /* Adjust the size as needed */
    /* Add any other styling you want for the placeholder text */
    position: absolute;
    top: 0;
    color: darkgray;
  }